/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
	background-color: var(--color-accent);
}

.pet-card {
  width: 330px;         
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.12);
  padding-bottom: 20px;
  text-align: center;
  overflow: hidden;
}

.pet-card img {
  width: 100%;
  height: 500px;        
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}

.pet-card h3 {
  margin: 15px 0 6px;
  font-size: 22px;     
}

.pet-card p {
  margin: 0;
  color: #555;
  font-size: 16px;      
}

.pet-section {
  display: flex;
  gap: 30px;            
  justify-content: center;
  margin-top: 40px;
}
